* {
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: #090a0e;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #fff;
}

.center-max-size-loading {
  margin: 0 auto;
  padding: 0 15px;
}

.center-loading {
  height: calc(100vh - 58px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-max-size {
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  text-transform: uppercase;
}

.brand {
  font-weight: bold;
}

.brand a {
  text-decoration: none;
  color: #ffffff;
}

/** SEARCH **/
.form {
  position: relative;
  margin-right: 40px;
}

.search {
  border: 1px solid darkslategray;
  outline: transparent;
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 25px;
  color: white;
  height: 35px;
  transition-duration: 0.4s;
}

.search__active {
  width: 300px;
}

.search__disactive {
  width: 200px;
}

.submit-search {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

.footer {
  background: #000;
  padding: 30px 0px;
  font-family: "Play", sans-serif;
}

.footer .row {
  margin: 0 auto;
  padding: 0.6% 0%;
  color: gray;
  font-size: 0.8em;
  max-width: 1020px;
}

@media (max-width: 720px) {
  .footer {
    text-align: left;
    padding: 5%;
  }
}

.posterImage {
  height: 600px;
}

.posterImage > img {
  margin: auto;
  display: block;
  width: 100%;
}

.posterImage__overlay {
  position: absolute;
  padding: 5rem;
  bottom: 0px;
  height: 70%;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 1));
  opacity: 1;
  transition: opacity 0.3s;
}

.posterImage__overlay:hover {
  opacity: 1;
}

.posterImage__title {
  font-weight: 900;
  font-size: 4rem;
  margin-bottom: 0.4rem;
  text-align: left;
}

.posterImage__runtime {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.posterImage__rating {
  margin-left: 3rem;
}

.posterImage__description {
  font-style: italic;
  font-size: 1rem;
  margin-bottom: 0.25rem;
  display: flex;
  text-align: left;
  width: 50%;
}

.header__title {
  margin: 0 2.5rem;
  padding: 0.5rem 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.headerLeft,
.headerRight {
  display: flex;
  align-items: center;
}

a > span {
  margin: 0 30px;
  font-size: 1.3rem;
  cursor: pointer;
  color: white;
}

a > span:hover {
  color: red;
}

.header__icon {
  width: 80px;
  cursor: pointer;
}

.user__avatar {
  font-size: 2rem;
}
